@import './theme.less';

body {
  margin: 0;
  color: var(--color);
  background-color: var(--bg-color);
  user-select: none;
  -webkit-user-select: none;
  line-height: 1.32;
}

@keyframes clip {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(100% at var(--x) var(--y));
  }
}

::view-transition-old(root) {
  animation: none;
}
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: clip 0.5s ease-in;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.2s ease-out;
}

.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(-100%);
}

div,
input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-item {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.mt-4 {
  margin-top: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.w-full {
  width: 100% !important;
}

.flex-1 {
  flex: 1;
}

.font-bold {
  font-weight: bold;
}

.select-text {
  user-select: text;
  -webkit-user-select: text;
}

.text-white {
  color: #fff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-list-grid {
  flex: 1;
  margin-top: 8px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.6;
  .item {
    display: inline-block;
    width: calc(33.333333% - 16px);
    margin: 8px;
  }
}

.grid-list-list {
  flex: 1;
  margin-top: 8px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.6;
  .item {
    margin: 8px;
    margin-bottom: 16px;
  }
}

.grid-list-header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  z-index: 9;
}

.grid-list-empty {
  text-align: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
  background: var(--scrollbar-track-bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--scrollbar-thumb-bg);
}
